a {
    position: sticky;
    background-color: red;
    font-weight: bold;
    color: #F7F7FC;
    width: fit-content;
}

.App__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.App__title {
    position: sticky;
    display: flex;
    align-items: flex-end;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    height: 76.48px;
}

.App__title span {
    margin-left: 53px;
}

.App__body-container {
    width: 89%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.App__body_left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80px;
    border-right: 1px dotted gray;
    min-height: calc(100vh - 80px);
}

.App__body_right {
    width: 100%;
    max-width: 1388px;
}

.body__square {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 54px;
    width: 56px;
    height: 52px;
    background-color: #E2E2EA;
    border-radius: 8px;
}

.body__square img {
    width: 16px
}


@media screen and (max-width: 1280px) {
    .App__body-container {
        width: 100%;
    }

    .App__body_left {
        display: none;
    }
}

@media screen and (max-width: 820px) {
    .App__body-container {
        overflow: scroll;
    }
}